.card {
  @extend .text_l;

  width: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: var(--block-border-radius);
  vertical-align: top;
  background-color: var(--color-white-dirty);
  padding: 0;
}

.video-container.card {
  border-radius: 0;
  background-color: transparent;
}

.video-container.card:hover {
  box-shadow: none;
  background-color: transparent;
}

.card_l {
  grid-column: auto / span 4;
  grid-row: auto / span 3;
}

.card_m {
  grid-column: auto / span 3;
  grid-row: auto / span 2;
}

.card_s {
  grid-column: auto / span 2;
}

.card:hover {
  background-color: var(--color-gray-light);
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.card__header {
  background-color: inherit;
  padding: var(--card-inner-padding);
  border-top-left-radius: var(--block-border-radius);
  border-top-right-radius: var(--block-border-radius);
}

.card__header:only-child {
  border-radius: var(--block-border-radius);
}

.card__header_red {
  background-color: var(--color-valencia);
  color: var(--color-white);
  padding-bottom: calc(var(--card-inner-padding) + var(--block-border-radius));
}

.card__title-block {
  align-items: center;
}

.card__icon {
  height: var(--icon-size);
  width: @height;
  margin-right: var(--card-inner-padding-m);
}

.card__title {
  @extend .text_xxl_2;
}

.card__subtitle-block {
  @extend .text_l;

  justify-content: space-between;
  flex-wrap: wrap;
}

.card__source,
.card__time {
  margin-top: var(--card-inner-padding-m);
}

.card__source {
  padding-right: var(--card-inner-padding);
}

.card__body {
  @extend .text_xl;

  height: 100%;
  border-radius: var(--block-border-radius);
  margin-top: calc(-1 * var(--block-border-radius));
  background: inherit;
  padding: var(--card-inner-padding);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.card__description {

}

.card_l > .card__body {
  @extend .text_xxl;
}

.controls {
  margin-top: var(--card-inner-padding);
}

.controls > .button:first-child {
  background-color: var(--color-accent);
}

.controls > .button + .button {
  margin-left: 18px;
}

.indicators {
  flex-wrap: wrap;
}

.indicator {
  white-space: nowrap;
}

.indicator:first-child {
  padding-right: var(--card-inner-padding);
}

.indicators .indicator {
  flex: 1;
  margin-top: var(--card-inner-padding);
}

@media (--less-than-820-viewport) {
  .card_m {
    grid-column: auto / span 2;
  }
}

@media (--less-than-788-viewport) {
  .card__title {
    @extend .text_s_2;
  }

  .card__subtitle-block {
    @extend .text_xs;
  }

  .card__body {
    @extend .text_l;
  }

  .card_l > .card__body {
    @extend .text_l;
  }

  .card__icon {
    height: var(--icon-size-m);
    width: @height;
  }

  .indicators {
    @extend .text_s;
  }

}

@media (--less-than-768-viewport) {
  .card_m {
    grid-column: auto / span 2;
  }
}

@media (--less-than-720-viewport) {
  .card__header {
    padding: var(--card-inner-padding-m);
  }

  .card__header_red {
    padding-bottom: calc(var(--card-inner-padding-m) + var(--block-border-radius));
  }

  .card__body {
    padding: var(--card-inner-padding-m);
    margin-top: calc(-1 * var(--card-inner-padding-m));
  }
}

@media (--less-than-575-viewport) {
  .card_l {
    grid-column: auto / span 2;
  }

  .card_m .controls,
  .card_s .controls,
  .indicators {
    justify-content: space-between;
  }

  .indicators .indicator {
    flex: none;
  }
}

@media (--less-than-375-viewport) {
  .card .button {
    width: 100%;
  }

  .controls {
    flex-direction: column;
  }

  .controls > .button + .button {
    margin: var(--card-inner-padding-xs) 0 0;
  }
}
