.footer {
  flex: 0 0 auto;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  align-items: center;
  margin-left: -20px;
}

.footer-content__left {
  flex: 0 1 auto;
  word-wrap: break-word;
}

.footer-content__right {
  flex: 0 0 auto;
  word-wrap: break-word;
}

.footer__link {
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  margin-left: 20px;
}

@media (--less-than-720-viewport) {
  .footer-content {
    flex-direction: column;
    align-items: start;
    padding-top: 12px;
  }

  .footer__link {
    margin-bottom: 12px;
  }
}

@media (--less-than-575-viewport) {
  .footer-content {
    flex-direction: column;
    align-items: start;
    padding-top: 12px;
  }

  .footer__link {
    margin-bottom: 12px;
  }
}
