:root {
  --volume-thumb-size: 16px;
  --track-thumb-width: 12px;
  --track-thumb-height: 20px;
  --card-outer-space: 20px;
  --card-outer-space-m: 16px;
  --card-inner-padding: 20px;
  --card-inner-padding-m: 16px;
  --card-inner-padding-xs: 10px;
  --color-text-secondary: #858585;
  --color-accent: #ffd93e;
  --block-border-radius: 20px;
  --button-border-radius: 8px;
  --content-padding-horizontal: 40px;
  --content-padding-horizontal-m: 20px;
  --logo-height: 40px;
  --logo-width: 112px;
  --header-height: 92px;
  --header-height-m: 64px;
  --color-white: #fff;
  --color-white-dirty: #fafafa;
  --color-gray-light: #f3f3f3;
  --color-gray: #e5e5e5;
  --color-valencia: #db5341;
  --color-black: #333;
  --color-blur: rgba(51, 51, 51, 0.5);
  --icon-size: 52px;
  --icon-size-m: 36px;
}

@custom-media --less-than-1199-viewport (max-width: 1199px);
@custom-media --less-than-991-viewport (max-width: 991px);
@custom-media --less-than-820-viewport (max-width: 820px);
@custom-media --less-than-788-viewport (max-width: 788px);
@custom-media --less-than-768-viewport (max-width: 768px);
@custom-media --less-than-720-viewport (max-width: 720px);
@custom-media --less-than-575-viewport (max-width: 670px);
@custom-media --less-than-375-viewport (max-width: 375px);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color-black);
  user-select: none;
  -ms-overflow-style: none;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-white);
  overflow-x: hidden;
}

.container {
  padding: 0 var(--content-padding-horizontal);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.text_secondary {
  color: var(--color-text-secondary);
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: red !important;
}

.text_secondary .link {
  color: var(--color-text-secondary);
}

.content {
  padding-top: var(--header-height);
  max-width: 1000px;
  margin: 0 auto;
  width: 75%;
}

.content__title {
  @extend .text_xxxl;

  margin: 34px 0 32px;
}

.content__layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--card-outer-space);
  justify-content: center;
}

@media (--less-than-1199-viewport) {
  .content {
    width: 90%;
  }
}

@media (--less-than-991-viewport) {
  .content {
    width: auto;
    margin: 0;
  }
}

@media (--less-than-820-viewport) {
  .content__layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (--less-than-720-viewport) {
  .container {
    padding: 0 var(--content-padding-horizontal-m);
  }

  .content {
    padding-top: var(--header-height-m);
  }

  .content__title {
    @extend .text_xxl;

    margin: 0 0 var(--card-inner-padding);
  }

  .content__layout {
    grid-gap: var(--card-outer-space-m);
  }
}

@media (--less-than-575-viewport) {
  .content__layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
