.music__album-cover {
  display: block;
  width: var(--icon-size);
  height: @width;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAAAAADgE0Q3AAABu0lEQVR4Ae3VTU8iTRAH8Of7fxATJhlOooZ+9sIBZk7OniARIdHEKLSJ2P96ay/rbjHxNMPsJt6oY4dfp6iuqvmP/iEGoTM6IxzjLxAglj/DBBiIQKZx3dR1s45qhCEIottQXs3qenZVhq0KTiPYayibHamZ0q4pQzScQrDH0eKQhQCAOB8WowdDP4I9XKwyt/9fEufVhatOBImjVW4Jv78opY/VKAp6EGlYZHzdUFbglBdBqRvBtuWBHQEA7yf/g/hQbg3dSEOTj0bMBEqTylL+GbQTQeJ4J3Ael8uoSWPxpLwfR0EXsvU1k5v7Yjot7jXl+TyDrtfWiXIzUxATJBZ3ZndFZNtcEumsyd2oqg04ALacGmDTpcnzzRtbXfWgujZ+u3mWT5Qd+R3dyNMjutwYt+nJn2x70vNCIC/mObWF8J96IXpKzvpURE1ecvixl7zvcZNVE1J/XD/1x+1vI8KPyZ4BHI230YmGTYyq/MoH3rAnRuMjkb68c7tjso/G6SFM0pIBQ9iOu7GPu/we90fDsMWyZzVT3jdleDUMXGFjX2HjsFHB8GV5W1W3viy/by078zh/Ps/o29AvxP34eOsEBmkAAAAASUVORK5CYII=') 50% no-repeat;
  border-radius: 8px;
  flex: 0 0 auto;
  margin-right: var(--card-inner-padding-m);
}

.music__track-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.music__track-bar {
  height: 20px;
}

.music__controls-container {
  margin-top: var(--card-inner-padding);
  align-items: center;
}

.music__name {
  @extend .text_xl_1;

  overflow: hidden;
}

.music__track-length,
.music__volume-value {
  @extend .text_s;

  min-width: 44px;
  text-align: right;
}

.music__track-length {
  line-height: 20px;
}

.music__volume-value {
  line-height: var(--icon-size);
}

.music__volume-bar {
  height: 36px;
}

.music__button {
  background: url('../images/rewind.svg') no-repeat center center;
  width: var(--icon-size);
  height: @width;
  flex: 0 0 auto;
}

.music__button_left {
  transform: scale(-1, 1);
}

.music__button + .music__button {
  margin-left: var(--card-inner-padding);
}

.music__button:last-of-type {
  margin-right: var(--card-inner-padding-xs);
}
