#popup {
  display: none;
  z-index: 333333;
  position: fixed;
  background: #ffd93e;
  transition: all 2s ease;
  overflow: hidden;
}

.popup_open {
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 100% !important;
  transition: all 2s ease;
  display: block;
}

#c {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 628px;
}
