@define-mixin multilineEllipsis $line-height, $lineCount: 1 {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $(lineCount);
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: calc($(line-height) * $(lineCount));
}

html,
body {
  font: 14px/16px YandexSans, Arial, Helvetica, sans-serif;
}

.text_bold {
  font-weight: 700;
}

.text_xxxl {
  font-size: 36px;
  line-height: 42px;
}

.text_xxl {
  font-size: 24px;
  line-height: 28px;
}

.text_xxl_2 {
  @extend .text_xxl;

  @mixin multilineEllipsis 28px, 2;
}

.text_xl {
  font-size: 20px;
  line-height: 23px;
}

.text_xl_1 {
  @extend .text_xl;

  @mixin multilineEllipsis 23px, 1;
}

.text_l {
  font-size: 18px;
  line-height: 21px;
}

.text_m {
  font-size: 16px;
  line-height: 20px;
}

.text_s {
  font-size: 14px;
  line-height: 17px;
}

.text_xs {
  font-size: 12px;
  line-height: 14px;
}
